body {
  background-color: white;
  margin: 0;
  padding-right: 10rem;
  padding-left: 10rem;
  background-color: green;
  color: black;
  font-weight: bold;
}

#header {
  text-align: center;
  background-color: red;
  padding: 0.5rem;
}

#navContainer {
  width: 1000px;
  margin: 0 auto;
}

#firstNav {
  height: 50px;
  width: 200px;
  background-color: pink;
  text-align: left;
  padding-top: 2rem;
  float: left;
}

#secondNav {
  height: 50px;
  width: 800px;
  background-color: orange;
  text-align: left;
  padding-top: 2rem;
  float: left;
}

#content {
  height: 600px;
  background-color: blue;
  text-align: left;
}

#bottom {
  text-align: left;
  height: 50px;
  clear: both;
  background-color: yellow;
}
